@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: hsl(0, 0%, 100%);
}

body {
  font-family: "Josefin Sans", sans-serif;
}

.burger {
  display: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 112px;
}

.hidden {
    overflow: hidden;
  }

.nav-items ul {
  display: flex;
}

.nav-items li {
  list-style: none;
  padding-left: 20px;
}

.nav-items li a {
  text-decoration: none;
  color: var(--white);
}

.icons {
  display: none;
}

.hero {
  height: 100vh;
  background: url(images/desktop/image-hero.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  width: 55%;
}

.hero-wrapper h2 {
  position: absolute;
  color: var(--white);
  top: 18%;
  left: 15%;
  font-size: 70px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1.1;
  border: 1px solid white;
  padding: 30px 40px;
}
/*  */
.imgm {
  display: none;
}

.about {
  width: 83%;
  margin: 79px auto 0;
}

.about-wrapper {
  position: relative;
}

.about-info {
  width: 50%;
  background-color: white;
  padding: 80px 0 0 70px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.about-info h1 {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 55px;
}

.about-info p {
  font-family: "alata", sans-serif;
  padding-top: 20px;
  opacity: 0.7;
  font-size: 16px;
}

.wrapper-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.grid-div {
  position: relative;
}

.grid-text-d {
  color: white;
  position: absolute;
  bottom: 0;
}

.grid-text-m {
  display: none;
}
/* 
.about-wrapper {
  width: 80%;
  margin: 0 auto;
} */

/* .creation-grid {
  width: 100%;
}

.creation-wrapper {
  padding: 70px 90px;
  width: 80%;
  margin: 100px auto 0;
}

.creation-head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
}

.creation-head h2 {
  font-size: 30px;
}
.creation-btn {
  font-size: 12px;
  font-weight: 700;
  color: black;
  border: 1px solid black;
  padding: 10px 30px;
  text-decoration: none;
  letter-spacing: 1.2px;
  word-spacing: 1.5px;
}
.wrapper-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
} */
@media screen and (max-width: 1350px) {
  .hero-wrapper h2 {
    font-size: 65px;
  }
}
@media screen and (max-width: 1230px) {
  nav {
    padding: 30px 100px;
  }
  .hero-wrapper h2 {
    font-size: 60px;
  }
  .about-info {
    padding: 50px 40px;
  }
  .about-info h1 {
    font-size: 45px;
  }
}
@media screen and (max-width: 1100px) {
  .hero-wrapper h2 {
    font-size: 55px;
  }
  .about-info {
    padding: 30px 40px;
  }
  .about-info h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 900px) {
  nav {
    padding: 20px 70px;
  }
  .hero-wrapper {
    width: 60%;
  }
  .hero-wrapper h2 {
    position: absolute;
    top: 25%;
    font-size: 50px;
    padding: 25px 35px;
  }
  .imgd-about {
    display: none;
  }
  .imgm-about {
    display: flex;
    width: 100%;
  }
  .about-info {
    padding: 35px 20px;
  }
  .about-info h1 {
    font-size: 40px;
  }
}
@media screen and (max-width: 830px) {
  .hero-wrapper h2 {
    font-size: 50px;
    padding: 20px 30px;
  }
  .about-wrapper {
    width: 100%;
    position: relative;
  }
  .imgm-about {
    width: 100%;
  }
  .about {
    width: 90%;
  }
  .about-info {
    width: 100%;
    position: absolute;
    top: 100%;
    right: 0%;
    text-align: center;
  }
  .about-info h1 {
    font-size: 50px;
  }
  .about-info p {
    font-size: 20px;
}

@media screen and (max-width: 630px) {
  .hero {
    width: 100%;
    background-image: url(images/mobile/image-hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  nav {
    padding: 20px 30px;
  }
  .burger,
  .icons,.imgm {
    display: flex;
  }
  
  .imgd {
    display: none;
  }
  .nav-items {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: black;
    margin-top: 20px;
    position: absolute;
    top: 55px;
    right: 0px;
    z-index: 1;
  }
  .nav-items ul {
    flex-direction: column;
    justify-content: flex-start;
    padding: 100px 0 0 15px;
    width: 100%;
  }
  .nav-items li {
    padding: 20px;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 300;
    opacity: 0.7;
  }
  .nav-items li a {
    background-color: var(--verydarkviolet);
    color: white;
    padding-top: 30px;
  }
  .nav-items.active,
  nav.active {
    display: flex;
    background-color: black;
  }
  .hero-wrapper {
    width: 95%;
  }
  .hero-wrapper h2 {
    margin: 0 auto;
    font-size: 50px;
    position: absolute;
    top: 26%;
    left: 5%;
  }
  .about {
    width: 100%;
  }
  /* .about-info {
    width: 90%;
  } */
  .about-wrapper {
    padding: 25px;
  }
  .about-info {
    width: 90%;
    position: absolute;
    top: 100%;
    right: 5%;
  }
  .about-info h1 {
    font-size: 40px;
  }
  .about-info p {
    font-size: 15px;
    line-height: 1.6;
  }
}


@media screen and (max-width: 500px) {
  .hero {
    background-image: url(images/mobile/image-hero.jpg);
    background-size: cover;
    background-position: center;
    /* height: 100vh; */
  }
  nav {
    padding: 35px 25px;
  }
  .burger,
  .imgm {
    display: flex;
  }
  .icons {
    display: flex;
  }
  .imgd {
    display: none;
  }
  .nav-items {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 85vh;
    background-color: black;
    margin-top: 20px;
    position: absolute;
    top: 60px;
    right: 0px;
    z-index: 1;
  }
  .nav-items ul {
    flex-direction: column;
    justify-content: flex-start;
    padding: 90px 0 0 7px;
    width: 100%;
  }
  .nav-items li {
    padding: 12px;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 300;
    opacity: 0.7;
  }
  .nav-items li a {
    background-color: var(--verydarkviolet);
    color: white;
  }
  .nav-items.active,
  nav.active {
    display: flex;
    background-color: black;
  }
  .hero-wrapper h2 {
    font-size: 42px;
    position: absolute;
    top: 18%;
    left: 6%;
    padding: 20px;
  }
  .about-wrapper {
    padding: 20px;
  }
  .about-info h1 {
    font-size: 30px;
  }
  .about-info p {
    font-size: 14px;
    line-height: 1.6;
    opacity: 0.5;
}
 
@media screen and (max-width: 330px) {
  nav {
    padding: 25px 15px;
  }
  .hero-wrapper h2 {
    font-size: 30px;
  }
  /* .about-info h1 {
    font-size: 25px;
  } */
}