@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --white: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
  --DG: hsl(0, 0%, 55%);
  --VDG: hsl(0, 0%, 41%);
  --toggle-btn: url(images/icon-hamburger.svg);

  /* --nav-bg: hsl(0, 0%, 0%, 0); */
}

body {
  font-family: "Josefin Sans", sans-serif;
}

.toggle-button {
  display: none;
  background: var(--toggle-btn) no-repeat;
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  flex-direction: column;
  justify-content: space-between;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.cross {
  --toggle-btn: url(images/icon-close.svg);
}

nav {
  width: 100%;
  /* height: 100%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  padding: 20px 112px;
  position: absolute;
  top: 0;
  z-index: 1;
}

.scrolling-active {
  transition: 0.5s ease-in;
  position: sticky;
  top: 0;
}

/* .hidden {
  overflow: hidden;
} */

.nav-items ul {
  display: flex;
}
nav h3 {
  font-size: 10px;
}

.nav-items li {
  list-style: none;
  padding-left: 20px;
}

.nav-items li a {
  text-decoration: none;
  color: var(--white);
}

.icons {
  display: none;
}

.nav-items ul li:hover {
  text-decoration: underline;
}

.hero {
  height: 100vh;
  background: url(images/desktop/image-hero.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  width: 55%;
}

.hero-wrapper h2 {
  position: absolute;
  color: var(--white);
  top: 30%;
  left: 15%;
  font-size: 70px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1.1;
  border: 1px solid white;
  padding: 30px 40px;
}
/*  */
.imgm {
  display: none;
}

.about {
  width: 83%;
  margin: 79px auto 0;
}

.about-wrapper {
  position: relative;
}

.about-info {
  width: 50%;
  background-color: white;
  padding: 80px 0 0 70px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.about-info h1 {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 55px;
}

.about-info p {
  font-family: "alata", sans-serif;
  padding-top: 20px;
  opacity: 0.7;
  font-size: 16px;
}

.creation {
  width: 100%;
}

.c-wrapper {
  width: 83%;
  margin: 180px auto 0;
}

.wrapper-head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper-head h2 {
  font-size: 35px;
}
.c-btn {
  font-family: "alata", sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: black;
  border: 1px solid black;
  padding: 10px 30px;
  text-decoration: none;
  letter-spacing: 4.5px;
  word-spacing: 1.5px;
  transition: 0.4s ease-in;
}

.c-btn:hover {
  background-color: var(--Black);
  color: var(--white);
  font-weight: 300;
}
.c-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  margin-top: 50px;
}

.c-img {
  position: relative;
  width: 100%;
  height: 420px;
  cursor: pointer;
}

.c-img:hover {
  color: black;
}

.c-img .span {
  width: 10%;
}

.c-img p {
  width: 70%;
  color: white;
  font-size: 27px;
  position: absolute;
  bottom: 5%;
  left: 12%;
}
.c-btn-2 {
  font-family: "alata", sans-serif;
  text-align: center;
  display: none;
  font-size: 20px;
  font-weight: 300;
  color: black;
  border: 1px solid black;
  padding: 12px 40px;
  margin-top: 40px;
  text-decoration: none;
  letter-spacing: 4.5px;
  word-spacing: 1.8px;
}

.c-img1 {
  background: linear-gradient(
      hsla(0, 0%, 0%, 0.25) 100%,
      rgba(255, 255, 255, 0)
    ),
    url(images/desktop/image-deep-earth.jpg);
  background-size: 100% 100%;
}
/* .c-img1:hover {
  background: linear-gradient(hsla(0, 0%, 100%, 0.7) 100%, rgba(0, 0, 0, 0)),
    url(images/desktop/image-deep-earth.jpg) no-repeat;
  background-size: 100% 100%;
  height: 420px;
  color: black;
} */
.c-img2 {
  background: linear-gradient(
      hsla(0, 0%, 0%, 0.25) 100%,
      rgba(255, 255, 255, 0)
    ),
    url(images/desktop/image-night-arcade.jpg);
  background-size: 100% 100%;
}
/* .c-img2:hover {
  background: linear-gradient(hsla(0, 0%, 100%, 0.7) 100%, rgba(0, 0, 0, 0)),
    url(images/desktop/image-night-arcade.jpg) no-repeat;
  background-size: 100% 100%;
  height: 420px;
  color: black;
} */

.c-img3 {
  background: linear-gradient(
      hsla(0, 0%, 0%, 0.25) 100%,
      rgba(255, 255, 255, 0)
    ),
    url(images/desktop/image-soccer-team.jpg);
  background-size: 100% 100%;
}
.c-img4 {
  background-image: url(images/desktop/image-grid.jpg);
  background-size: 100% 100%;
}
.c-img5 {
  background: linear-gradient(
      hsla(0, 0%, 0%, 0.25) 100%,
      rgba(255, 255, 255, 0)
    ),
    url(images/desktop/image-from-above.jpg);
  background-size: 100% 100%;
}
.c-img6 {
  background: linear-gradient(
      hsla(0, 0%, 0%, 0.25) 100%,
      rgba(255, 255, 255, 0)
    ),
    url(images/desktop/image-pocket-borealis.jpg);
  background-size: 100% 100%;
}
.c-img7 {
  background: linear-gradient(
      hsla(0, 0%, 0%, 0.25) 100%,
      rgba(255, 255, 255, 0)
    ),
    url(images/desktop/image-curiosity.jpg);
  background-size: 100% 100%;
}
.c-img8 {
  background: linear-gradient(
      hsla(0, 0%, 0%, 0.25) 100%,
      rgba(255, 255, 255, 0)
    ),
    url(images/desktop/image-fisheye.jpg);
  background-size: 100% 100%;
}
/*  */
.footer {
  width: 100%;
  background-color: black;
  margin-top: 150px;
}

.footer-content {
  padding: 30px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 110px;
}

.links {
  display: flex;
  padding-top: 30px;
}
.links li a {
  padding-right: 40px;
  color: white;
  text-decoration: none;
}

.social {
  display: flex;
  justify-content: flex-end;
}

.social img {
  padding-left: 15px;
}

.right p {
  color: white;
  padding-top: 30px;
}

@media screen and (max-width: 1350px) {
  .hero-wrapper h2 {
    font-size: 65px;
  }
}
@media screen and (max-width: 1230px) {
  nav {
    padding: 30px 100px;
  }
  .hero-wrapper h2 {
    font-size: 60px;
  }
  .about-info {
    padding: 50px 40px;
  }
  .about-info h1 {
    font-size: 45px;
  }
}
@media screen and (max-width: 1100px) {
  .hero-wrapper h2 {
    font-size: 55px;
  }
  .about-info {
    padding: 30px 40px;
  }
  .about-info h1 {
    font-size: 40px;
  }
  .footer-content {
    padding: 40px 90px;
  }
  .links li a {
    padding-right: 25px;
  }
}

@media screen and (max-width: 900px) {
  nav {
    padding: 20px 70px;
  }
  .hero-wrapper {
    width: 60%;
  }
  .hero-wrapper h2 {
    position: absolute;
    top: 25%;
    font-size: 50px;
    padding: 25px 35px;
  }
  .imgd-about {
    display: none;
  }
  .imgm-about {
    display: flex;
    width: 100%;
  }
  .about-info {
    padding: 35px 20px;
  }
  .about-info h1 {
    font-size: 40px;
  }
  .footer-content {
    padding: 40px 75px;
  }
  .links li a {
    padding-right: 15px;
  }
}
@media screen and (max-width: 830px) {
  .hero-wrapper h2 {
    font-size: 50px;
    padding: 20px 30px;
  }
  .nav-items li {
    padding: 5px;
  }
  .about-wrapper {
    width: 100%;
    position: relative;
  }
  .imgm-about {
    width: 100%;
  }
  .about {
    width: 90%;
  }
  .about-info {
    width: 100%;
    position: absolute;
    top: 100%;
    right: 0%;
    text-align: center;
  }
  .about-info h1 {
    font-size: 50px;
  }
  .about-info p {
    font-size: 20px;
  }
  .c-wrapper {
    margin-top: 420px;
  }
  .c-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }
  .footer-content {
    padding: 40px 60px;
  }
  .links li a {
    padding-right: 10px;
  }
}

@media screen and (max-width: 630px) {
  .hero {
    width: 100%;
    background-image: url(images/mobile/image-hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  nav {
    padding: 20px 30px;
  }
  .toggle-button {
    display: flex;
    position: absolute;
    top: 30px;
    right: 30px;
    flex-direction: column;
    justify-content: space-between;
    height: 30px;
    width: 30px;
  }
  .black {
    --nav-bg: hsl(0, 0%, 0%);
  }
  .imgd {
    display: none;
  }
  .nav-items {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: black;
    margin-top: 20px;
    position: absolute;
    top: 55px;
    right: 0px;
    z-index: 1;
  }
  .nav-items ul {
    flex-direction: column;
    justify-content: flex-start;
    padding: 100px 0 0 15px;
    width: 100%;
  }
  .nav-items li {
    padding: 15px;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 300;
    opacity: 0.7;
  }
  .nav-items li a {
    background-color: var(--verydarkviolet);
    color: white;
    padding-top: 10px;
  }
  .nav-items.active,
  nav.active {
    display: flex;
    background-color: black;
  }
  .hero-wrapper {
    width: 95%;
  }
  .hero-wrapper h2 {
    margin: 0 auto;
    font-size: 50px;
    position: absolute;
    top: 35%;
    left: 5%;
  }
  .about {
    width: 100%;
  }
  /* .about-info {
    width: 90%;
  } */
  .about-wrapper {
    padding: 25px;
  }
  .about-info {
    width: 90%;
    position: absolute;
    top: 100%;
    right: 5%;
  }
  .about-info h1 {
    font-size: 40px;
  }
  .about-info p {
    font-size: 15px;
    line-height: 1.6;
  }
  .c-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  .c-wrapper {
    margin-top: 350px;
  }
  .wrapper-head h2 {
    font-size: 30px;
  }
  .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 150px;
  }
  .social {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
  }
  .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .links {
    display: block;
    text-align: center;
  }
  .links li {
    font-size: 25px;
    padding-top: 40px;
  }
  .right {
    /* width: max-content; */
    padding-top: 80px;
    text-align: center;
    justify-content: center;
  }
  .social img {
    width: 50px;
    height: 30px;
    margin: 10px;
  }
  .right p {
    width: 100%;
    font-size: 30px;
    color: var(--VDG);
  }
}

@media screen and (max-width: 500px) {
  * {
    scroll-behavior: smooth;
  }
  .hero {
    background-image: url(images/mobile/image-hero.jpg);
    background-size: cover;
    background-position: center;
  }
  nav {
    padding: 15px 25px;
  }
  .toggle-button {
    display: flex;
    position: absolute;
    top: 23px;
    right: 25px;
    flex-direction: column;
    justify-content: space-between;
    height: 30px;
    width: 30px;
  }
  .black {
    --nav-bg: hsl(0, 0%, 0%);
  }

  .imgd {
    display: none;
  }
  .nav-items {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    background-color: black;
    margin-top: 20px;
    position: absolute;
    top: 45px;
    right: 0px;
    z-index: 1;
  }
  .nav-items ul {
    flex-direction: column;
    justify-content: flex-start;
    padding: 90px 0 0 7px;
    width: 100%;
  }
  .nav-items li {
    padding: 12px;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 300;
    opacity: 0.7;
  }
  .hidden {
    overflow: hidden;
  }

  .nav-items li a {
    color: white;
  }
  .nav-items.active {
    display: flex;
  }
  nav.active {
    display: flex;
  }
  .hero-wrapper h2 {
    font-size: 42px;
    position: absolute;
    top: 30%;
    left: 6%;
    padding: 20px;
  }
  .about-wrapper {
    padding: 20px;
  }
  .about-info h1 {
    font-size: 30px;
  }
  .about-info p {
    font-size: 14px;
    line-height: 1.6;
    opacity: 0.6;
  }
  .c-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-top: 420px;
  }
  .c-btn-1 {
    display: none;
  }
  .wrapper-head {
    justify-content: center;
  }
  .c-grid {
    display: block;
  }
  .c-img {
    height: 150px;
    margin-top: 25px;
  }
  .c-img p {
    width: 50%;
    font-size: 25px;
    position: absolute;
    bottom: 25px;
    left: 5%;
  }
  .c-img1 {
    background: linear-gradient(
        hsla(0, 0%, 0%, 0.25) 100%,
        rgba(255, 255, 255, 0)
      ),
      url(images/mobile/image-deep-earth.jpg);
    background-size: 100% 100%;
  }
  .c-img2 {
    background: linear-gradient(
        hsla(0, 0%, 0%, 0.25) 100%,
        rgba(255, 255, 255, 0)
      ),
      url(images/mobile/image-night-arcade.jpg);
    background-size: 100% 100%;
  }
  .c-img3 {
    background: linear-gradient(
        hsla(0, 0%, 0%, 0.25) 100%,
        rgba(255, 255, 255, 0)
      ),
      url(images/mobile/image-soccer-team.jpg);
    background-size: 100% 100%;
  }
  .c-img4 {
    background: linear-gradient(
        hsla(0, 0%, 0%, 0.25) 100%,
        rgba(255, 255, 255, 0)
      ),
      url(images/mobile/image-grid.jpg);
    background-size: 100% 100%;
  }
  .c-img5 {
    background: linear-gradient(
        hsla(0, 0%, 0%, 0.25) 100%,
        rgba(255, 255, 255, 0)
      ),
      url(images/mobile/image-from-above.jpg);
    background-size: 100% 100%;
  }
  .c-img6 {
    background: linear-gradient(
        hsla(0, 0%, 0%, 0.25) 100%,
        rgba(255, 255, 255, 0)
      ),
      url(images/mobile/image-pocket-borealis.jpg);
    background-size: 100% 100%;
  }
  .c-img7 {
    background: linear-gradient(
        hsla(0, 0%, 0%, 0.25) 100%,
        rgba(255, 255, 255, 0)
      ),
      url(images/mobile/image-curiosity.jpg);
    background-size: 100% 100%;
  }
  .c-img8 {
    background: linear-gradient(
        hsla(0, 0%, 0%, 0.25) 100%,
        rgba(255, 255, 255, 0)
      ),
      url(images/mobile/image-fisheye.jpg);
    background-size: 100% 100%;
  }
  .c-btn-2 {
    display: flex;
  }
  .links {
    display: block;
  }
  .links li {
    font-size: 22px;
    padding-top: 35px;
  }
  .social img {
    width: 40px;
    height: 30px;
  }
  .right p {
    font-size: 18px;
  }
}
@media screen and (max-width: 330px) {
  nav {
    padding: 15px 20px;
  }
  .hero-wrapper h2 {
    font-size: 30px;
    margin: 0 auto;
    position: absolute;
    top: 35%;
    left: 5%;
  }
  /* .about-info h1 {
    font-size: 25px;
  } */
}
